/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html{
  max-width: 100%;
 }

body, h1 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
}

#not-signed-in-home{
  background: url("http://i.imgur.com/ZcJmC0Z.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  max-height: 100%;
  position: absolute;
}

#intro{
  background-color: rgba(255,255,255,0.7);
  font-family: 'Nunito', sans-serif;
  text-align: center;
  height:100%;
  width: 100%;
  font-size: 2rem;
}

#intro h1{
  font-size: 72px;
  margin: 0;
  padding-top: 20%;
  margin-bottom: 1%;
}
#intro p{
  margin-bottom: 2%;
}

#sign-in{
  background-color: #e7f4fe;
  height: 100%;
  width: 100%;
  position: absolute;
}

#sign-in-panel{
  width:25%;
  margin:15% auto;
}

.panel-body.sign-in-content{
  padding: 20px 40px;
  text-align: left;
}

#jumbotron{
  margin-bottom: 20px;
}

.insta-image {
  padding-top: 20px;
  padding-bottom: 20px;

}

.insta-image img{
  border-radius: 5px;
}

.insta-image img:hover{
  opacity: 0.4;
}

#pics, #posts{
  height: 635px;
}

.comment_block small{
  color: #428bca;
}

#footer{
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #eee;
  border-radius: 6px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
